h2 7digital shared playlists built in node.js



hr

p#welcome-message.small

.first.column
	h4 user chat
	
	form#chat-form
		span.first.column
			input#text-input(type='text', style='width:200px;margin-right:5px;margin-top:5px')
		span.column
		input#send-button(type='submit', value='chat')

	p#messages.small

.column
	h4 search for a track 


	form#track-search(method='post',action='/trackSearch')
		span.first.column
			input#track-search-query(type='text',name='query', style='width:200px;margin-right:5px;margin-top:5px')
		span.column
		input#track-search-submit(type='submit', value='search')

	div#searchResults



.column
	h4 playlist
	
	div#shared-playlist
		ul#sortable

	div#music-player
		audio#audio-stream
