h2 7digital shared playlists built in node.js

.first.column.width300
	h4 user chat
	
	form#chat-form
		span.first.column
			input#text-input(type='text', style='width:200px;margin-right:5px;margin-top:5px')
		span.column
		input#send-button(type='submit', value='chat')
	p#welcome-message.small
	p#messages.small

.column.width300
	h4 search for a track 


	form#track-search(method='post',action='/trackSearch')
		span.first.column
			input#track-search-query(type='text',name='query', style='width:200px;margin-right:5px;margin-top:5px')
		span.column
		input#track-search-submit(type='submit', value='search')

	p.small (then drag it onto the playlist)

	div#searchResults



.column.width300
	h4 playlist

	

	div#shared-playlist
		ul#sortable
			li.playlist-spot.ui-state-disabled
			li.playlist-spot.ui-state-disabled

	div#music-player