!!!
head
	title 7digital shared playlists in node.js
	link(href='/css/base/site.css', rel='stylesheet')
	link(href='/css/baseline/baseline.base.css', rel='stylesheet')
	link(href='/css/baseline/baseline.type.css', rel='stylesheet')
	link(href='/css/baseline/baseline.form.css', rel='stylesheet')
	link(href='/css/baseline/baseline.grid.css', rel='stylesheet')
	link(href='/css/baseline/baseline.reset.css', rel='stylesheet')
	link(href='/css/shared/forms.css', rel='stylesheet')
	link(href='/css/shared/branding.css', rel='stylesheet')
	link(href='/css/shared/typography.css', rel='stylesheet')
	link(href='/css/browser/mobile.css', rel='stylesheet')
	link(href='/css/shared/layout.css', rel='stylesheet')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(src='/nowjs/now.js')
	script(src='/chat.js')
	script(src='/track-search.js')
body
	div.page
		!= body