
body div
{
	padding: 2px;
}
.search-result
{
	background-color: #eeeeee;
	border: solid 1px #bbbbbb;
	height: 60px;
	margin-bottom: 2px;
	width: 308px;
}

.search-result span
{
	padding-top: 10px;
}

#track-search-query
{
	width: 250px !important;
}
#shared-playlist
{
	width: 310px;
	min-height: 50px;
}
#music-player
{
	width: 300px;
	height: 100px;
}
.user-box
{
	float: left;
	border: solid 2px #AAAAAA;
	width: 70px;
	height: 50px;
	padding: 2px;
	margin: 4px;
	background-color: #eeeeee;
}
.clear
{
clear: both;
}

#loading-message
{
	display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	background-color: #000000;
	z-index: 100;
	opacity:0.8;
}

#loading-message span
{
	position: absolute;
	--margin-top: -50%;
	--margin-left: -50%;
    top: 35%;
    left: 35%;
    font-family: 'Century Old Style Std', 'Century Schoolbook', Georgia, serif;
    font-size: 6.0em;
    font-color: White;
}

#messages
{
	width: 300px;
}
.chat-name
{
	font-weight: bold;
	margin-right: 3px;
}