
body div
{
	padding: 2px;
}
.search-result
{
	background-color: #eeeeee;
	border: solid 1px #bbbbbb;
	height: 60px;
	margin-bottom: 2px;
	width: 308px;
}

.search-result span
{
	padding-top: 10px;
}

#track-search-query
{
	width: 250px !important;
}
#shared-playlist
{
	width: 310px;
	min-height: 50px;
}
#music-player
{
	width: 300px;
	height: 100px;
}
.user-box
{
	float: left;
	border: solid 2px #AAAAAA;
	width: 70px;
	height: 50px;
	padding: 2px;
	margin: 4px;
	background-color: #eeeeee;
}
.clear
{
clear: both;
};